#background {
	position: fixed;
	background-image: url('/images/header2.jpg');
	height:100%;
	width:100%;
	background-size: 100% auto;
}

.about {
	position: relative;
	padding: 5%;
	padding-left: 10%;
	padding-right: 10%;
	background-color: #fff;
	top: 0px;
	width: 98% auto;
	right: 0;
	height: 400px auto;
}
#wrapper.toggled .about {
	left: 2%;
	width:96%;
}
.bodytext {
	text-indent:8%;
}
.about a:link { color:grey; }
.about a:visited { color:grey; }
.about a:hover { color:black;text-decoration:none; }
.about a:active { color:blue; }
